# Игнорировать все .env файлы, содержащие секреты
.env
.env.*

# Не игнорировать файлы-примеры
!*.env.example
!*.env.*.example

# Папка виртуального окружения
venv/
/venv/
.venv/
*/.venv/

# --- Файлы базы данных ---
fastapi.db
*.db
*.sqlite3

# --- Python кэш и артефакты ---
__pycache__/
*.py[cod]
*$py.class

# --- Инструменты разработки и IDE ---
.vscode/
.idea/

# --- Инструменты тестирования ---
.pytest_cache/
.coverage
htmlcov/
.tox/

# Файлы миграций
migrations/
alembic.ini

# Qdrant storage
qdrant_storage/

# Local model
local_models_cache/
model_cache/

# А вот нехуй сюда смотреть блять, да я пидр нейрослопный
repomix-output.xml
repomix.config.json

backups/