services:
  app:
    build: .

    volumes:
      - .:/app
      - ./local_models_cache:/app/model_cache
      - ./hf_cache:/root/.cache/huggingface

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    ports:
      - 8000:8000

    env_file:
      - .env

    depends_on:
      - db
      - redis
      - qdrant

  db:
    image: postgres:18

    volumes:
      - postgres_data:/var/lib/postgresql/18/main/

    env_file:
      - .env.db

    ports:
      - "5435:5432"

  redis:
    image: redis:8-alpine

    ports:
      - "6385:6379"

    env_file:
      - .env

  qdrant:
    image: qdrant/qdrant

    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  worker:
    build: .
    container_name: vibe_worker
    command: celery -A app.celery_app.celery worker --loglevel=info
    volumes:
      - .:/app
      - ./backups:/app/backups
    env_file:
      - .env
    depends_on:
      - db
      - redis

  beat:
    build: .
    container_name: vibe_beat
    command: celery -A app.celery_app.celery beat --loglevel=info
    volumes:
      - .:/app
      - ./backups:/app/backups
    env_file:
      - .env
    depends_on:
      - redis
      - db

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - "3000:3000"
    depends_on:
      - app
    env_file:
      - .env

volumes:
  postgres_data:
  qdrant_data:
